*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

  }

  .container{
    margin-top: 5%;;
  }

  .nav{
    justify-content: space-around;
    display: flex;

  }
  .nav h1{
    display: inline-block;
    
  }

  .points{
    width: 250px;
    height: 250px;
    font-size: 15px;
    
    padding: 5px;
    margin-top: 10%;

    margin-left: 10%;

    border:2px solid rgb(33, 8, 199);
    border-radius: 10px;
    background-color: rgb(57, 99, 116);
  }
  
  .va-mid{
    margin-top: 45%;
  }